body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    background-color: #21b786;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
}

.pulsing-logo {
    width: 30%;
    height: auto;
    animation: pulse 4s infinite;
    display: block;
    margin: 0 auto;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
}

.title-container {
    margin-top: 10%;
}

.title {
    font-size: 2.5em;
}

.store-container {
    text-align: center;
    margin-bottom: 10%;
}

.store-badges {
    display: flex;
    justify-content: center; 
    gap: 10%; 
}

.store-badge {
    width: 150px;
    height: auto;
    margin: 0 10px;
    opacity: 0.6;
}

.coming-soon-text {
    font-style: italic;
    margin-bottom: 10%;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.x {
    color: black;
    font-size: xxx-large;
}

.tiktok {
    color: black;
    font-size: xxx-large;
    margin-left: 10%;
}

.linkedin {
    color: black;
    font-size: xxx-large;
    margin-left: 10%;
}

.instagram {
    color: black;
    font-size: xxx-large;
    margin-left: 10%;
}
