body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    background-color: #21b786;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
}

.pulsing-logo {
    width: 30%;
    height: auto;
    animation: pulse 4s infinite;
    display: block;
    margin: 0 auto;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
}

.title {
    font-size: 3em;
    text-decoration: underline;
    color: black;
    margin-top: 5%;
}

.coming-soon-text {
    font-style: italic;
    font-size: 1.5em;
    color: black;
    margin-bottom: 5%;
}
